
.ReactModalPortal {


    .AprilFools { //.AprilFools.Frame
        &.share {
          top: 45% !important;
        }

        left: 50% !important;
        width: 100%;
        padding: 0 !important;

        // Hide the current style
        background: transparent !important;
        border: none !important;
        box-sizing: border-box;

        @include phone-up {
            top: 5% !important;
            max-width: 340px !important;
            margin-left: -170px !important;

        }

        @include tablet-up {
            top: 5% !important;
            max-width: 500px !important;
            margin-left: -250px !important;
            // left: 20% !important;
            // right: 20% !important;

        }

        &--smeg, &--dodge, &--frame, &--grill, &--share {
          padding: 20px;
          border-radius: 5px;
        }

        &--dodge {
          background-color: #000;
          background-image: url('//media.firebox.com/i/aprilfools2016/idodge-bg.jpg') !important;                   /* <------ */
          background-repeat:   no-repeat;
          background-position: top center;
          color: $white;

          @include phone-up {
            background-size: 340px;
          }

          @include tablet-up {
            background-size: 500px;
          }

          .dodge-logo {
            width: 50%;
          }

        }

        &--smeg {
          background-color: #000;
          background-image: url('//media.firebox.com/i/aprilfools2016/smeg-bg.jpg') !important;
          color: $white;

          @include phone-up {
              padding-top: 200px;
              background-size:     300px;                      /* <------ */
              background-repeat:   no-repeat;
              background-position: top center;
          }
          @include tablet-up {
              padding-top: 350px;
              background-size:     cover;                      /* <------ */
              background-repeat:   no-repeat;
              background-position: 50% -80px;
          }

        }

        &--frame {
          background-color: #fff;
          background-image: url('//media.firebox.com/i/aprilfools2016/frame-bg.jpg') !important;
          color: $charcoal;
          background-size: cover;

          @include phone-up {

          }

          @include tablet-up {

          }

          .frame-logo {
            width: 75%;
            margin: 0 auto;
            display: block;
          }

          .text {
            font-size: 18px;
          }

        }

        &--grill {
          background-color: #000;
          background-image: url('//media.firebox.com/i/aprilfools2016/netflix-bg.jpg') !important;
          color: $white;
          background-size: cover;

          @include phone-up {

          }

          @include tablet-up {

          }

          .grill-logo {
            width: 75%;
            margin: 0 auto;
            display: block;
          }

        }

      &--share {
        background-color: #000;
        background-image: url('//media.firebox.com/i/aprilfools2016/idodge-bg.jpg') !important;                   /* <------ */
        background-repeat:   no-repeat;
        background-position: top center;
        color: $white;

        @include phone-up {
          background-size: 340px;
        }

        @include tablet-up {
          background-size: 500px;
        }

        .logo-wrap {
          width: 50%;
        }

      }




        .centered-container {
            max-width: 680px;
            margin: 0 auto;

            .frame-logo-container, .dodge-logo-container, .netflix-logo-container, .smeg-logo-container {
                max-width: 500px;
                margin: 30px auto;
            }
            // .frame-logo, .dodge-logo, .netflix-logo, .smeg-logo {
            //     width: 100%;
            //     padding: 0 39px;
            //     box-sizing: border-box;
            // }
            .text {
                letter-spacing: -0.5px;
                margin: 0 auto;
                font-size: 18px;
                max-width: 650px;
                margin-top: 26px;
                text-align: center;
                @include phone-up {
                  font-size: 14px;
                }
                @include tablet-up {
                    font-size: 18px;
                }
            }
        }

        .input-area {
            //margin-top: 35px;
            margin: 30px 15px 0 15px;

            .error-subscribing {
                color: #ED143D;
            }

            .input-outer {
                background: #FFFFFF;
                border-radius: 5px;
                display: flex;
                padding: 10px;

                @include phone-up {
                    display: block;
                }
                @include tablet-up {
                    display: flex;
                }

                border: 1px solid transparent;
                &.error {
                    border: 1px solid red;
                }

                .label {
                    @include phone-up {
                        width: 100%;
                    }
                    @include tablet-up {
                        flex: 1;
                    }

                    color: #404040;
                }
                .ghost-input {
                    @include phone-up {
                        width: 100%;
                    }
                    @include tablet-up {
                        flex: 1.6;
                    }
                    color: #404040;

                    input {
                        border: 0;
                        color: #4E4E4E;
                        width: 100%;
                    }
                    input:focus{
                        outline: none;
                    }
                }
                &+.input-outer {
                    margin-top:10px;
                }
            }
            .button-container {
                max-width: 375px;
                margin: 30px auto 20px auto;

                .red-button {
                    background: #FE0000;
                    color: #FFFFFF;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-size: 17px;
                    width: 100%;
                    padding: 8px 18px;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                    box-sizing: border-box;
                }
            }

        }
        .small-text {
            letter-spacing: -0.5px;
            font-size: 14px;
            text-align: center;

            a {
              text-decoration: underline;
            }
        }


        .share-links {
            margin-top: 20px;
            text-align: center;
        }
    }




}
