$pufferfish: #d86028;

.kickstarter {
  color: $white;
  font-size: 16px;
  position: relative;
  width: 100%;

  .cont {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }

  * {
     -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
     -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
      box-sizing:        border-box;   /* Everything else */
  }

  //Object

  &-intro {
    text-transform: uppercase;
    text-align: center;
    color: $pufferfish;

    @include phone-up {
      width: 90%;
      margin: 0 auto;
      font-size: 1.25em;
    }

    @include desktop-up {
      width: 100%;
      font-size: 1.5em;
    }

  }

  &-cta {
    color: $white;
    text-align: center;
  }

  &-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;

    @include phone-up {
      background: #003653 url($media + "/i/page/kickstarter/background_800.jpg") no-repeat;
      background-size: 100%;
      padding-top: 75px;
    }

    @include desktop-up {
      background: #003653 url($media + "/i/page/kickstarter/background_1280.jpg") no-repeat;
      background-size: 100%;
      padding-top: 100px;
    }

    @include desktop-xl-up {
      background: #003653 url($media + "/i/page/kickstarter/background_1920.jpg") no-repeat;
      background-size: 100%;
      padding-top: 150px;
    }

  }

  &-video {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-bottom: 60px;
    background: black;

    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }

  }

  &-badge {
    padding: 4px 8px;
    background-color: $pufferfish;
    color: $white;
    display: inline-block;
    border-radius: 2px;
  }

  &-body {
    text-align: center;
    color: $white;
    font-size: 1em;

    a {
      text-decoration: underline;

      &:hover {
        background: $pufferfish;
        color: $white;
      }

    }

    @include phone-up {
      width: 90%;
      margin: 0 auto;
    }

    @include desktop-up {
      width: 100%;
    }

  }

  &-section {
    padding-top: 60px;
    margin: 60px auto;
    text-align: center;
    color: $white;
    font-size: 1em;
    border-top: 2px white dashed;

    @include phone-up {
      width: 90%;
      margin: 30px auto;
    }

    @include desktop-up {
      width: 100%;
      margin: 60px auto;
    }

    h2 {
      text-transform: uppercase;
    }

  }

  &-backed {
    display: inline-block;
  }

  &-notify {
    margin: 0 auto;

    .input {
      color: $charcoal;
    }

    @include phone-up {
      width: 90%;
      // margin-left: -150px;
      flex-direction: column;
      margin-bottom: 50px;
    }

    @include tablet-up {
      width: 80%;
      flex-direction: row;
      margin-bottom: 0px;
    }

  }

  &-social {
    font-size: 1.25em;

    a {
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }

    }
  }

  &-extra {
    display: none;
    padding-bottom: 50px;
  }

  &__sep {
    display: block;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    background: $white;
    margin: 0 auto;
  }

  &__ghost {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 10px;
    border-radius: 4px;
    // border: 2px solid $pufferfish;
  }

  &__title, &__amper, &__sub-title {
    position: relative;

    img {
      width: 100%;
    }

  }

  &__title {
    display: block;
    animation: bob 3s infinite;
    -webkit-animation: bob 3s infinite;
    width: 55%;
    margin: 0 auto;
    z-index: 0;
  }

  &__amper {
    display: block;
    animation: bob-small 3s infinite;
    -webkit-animation: bob-small 3s infinite;
    width: 12%;
    z-index: 0;

    @include phone-up {
      margin: -20px auto 0 auto;
    }

    @include tablet-up {
      margin: -50px auto 0 auto;
    }

  }

  &__sub-title {
    display: block;
    width: 65%;
    animation: bob 4s infinite;
    -webkit-animation: bob 4s infinite;
    z-index: 0;

    @include phone-up {
      margin: -20px auto 0 auto;
    }

    @include tablet-up {
      margin: -37px auto 0 auto;
    }

  }

  &__bottom {
    background: url($media + "/i/page/kickstarter/sand_1920.png") no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    @include phone-up {
      margin: -20px auto 0 auto;
      background: url($media + "/i/page/kickstarter/sand_800.png") no-repeat;
      background-size: 100%;
      display: none;
    }

    @include tablet-up {
      position: relative;
      margin: -37px auto 0 auto;
      background: url($media + "/i/page/kickstarter/sand_1920.png") no-repeat;
      background-size: 100%;
    }

    @include desktop-up {
      display: block;
    }

    // @include desktop-xl-up {
    //   position: absolute;
    // }

  }


  // Componentents
  &__header {

  }

  &__bubbles-right, &__bubbles-left {
    position: absolute;
    z-index: 1;
  }

  &__bubbles-right {
    bottom: 0;
    right: 0;
    max-width: 100px;

    @include phone-up {
      max-width: 40px;
    }

    @include tablet-up {
      max-width: 100px;
    }

  }

  &__bubbles-left {
    top: 0;
    left: 0;

    @include phone-up {
      max-width: 100px;
    }

    @include tablet-up {
      max-width: 200px;
    }

  }

  &__content {

  }

  &-light {
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &-0 {
      background: url($media + "/i/page/kickstarter/light-0.png") no-repeat;
      background-size: 100%;
    }

    &-1 {
      background: url($media + "/i/page/kickstarter/light-1.png") no-repeat;
      background-size: 100%;
    }

    &-2 {
      background: url($media + "/i/page/kickstarter/light-2.png") no-repeat;
      background-size: 100%;
    }

    &-3 {
      background: url($media + "/i/page/kickstarter/light-3.png") no-repeat;
      background-size: 100%;
    }
    &-4 {
      background: url($media + "/i/page/kickstarter/light-4.png") no-repeat;
      background-size: 100%;
    }


    img {
      width: 100%;
      max-width: 100%;
    }

  }

  //Modifiers

  &--shimmer {
    animation: shimmer 3s infinite;
    -webkit-animation: shimmer 3s infinite;
    max-width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &--bold {
    font-weight: bold;
  }

  &--white {
    color: $white;
  }

  .alpha-button {
    background-color: $pufferfish;
    color: $white;

    &:hover {
      background-color: darken($pufferfish,10%);
    }

  }

}
