.product-hunt {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;

    .close-video {
        position: absolute;
        color: $white;

        @include phone-up {
            top: -25px;
            right: 50%;
            margin-left: -8px;
        }

        @include tablet-up {
            top: -25px;
            right: -25px;
            margin-left: 0px;
        }

        i {
           color: $white; 
        }
    }

    .hidden-xs {
        @include phone-up {
            display: none;
        }

        @include tablet-up {
            display: inline-block;
        }
    }

    * {
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
       -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
    }

    &__overlay {
        position: fixed;
        background-color: rgba(0,0,0,0.75);
        z-index: 3;
        height: 100%;
        width: 100%;
        display: none;
        top: 0;
    }

    &__video {
        position: fixed;
        background-color: $white;
        left: 50%;
        z-index: 4;
        display: none;

        @include phone-up {
            width: 90%;
            margin-left: -45%;
            top: 120px;
        }

        @include tablet-up {
            width: 50%;
            margin-left: -25%;
            top: 100px;
        }
    }


    .alpha-button:not(.product-hunt--blue) {
        margin-bottom: 30px;
        color: $white !important;
    }

    &__column-flex {
        display: flex;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;

        @include phone-up {
            padding: 0 15px;
            flex-direction: column;
        }

        @include tablet-up {
            padding: 0;
            flex-direction: row;
        }
    }

    &__column-flex-half {
        display: flex;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;

        @include phone-up {
            padding: 0 15px;
            flex-direction: column;
        }

        @include tablet-up {
            padding: 0;
            flex-direction: row;
        }
    }

    &__column-flex-third {
        display: flex;
        max-width: 855px;
        width: 100%;
        margin: 0 auto;
        
        @include phone-up {
            padding: 0 15px;
            flex-direction: column;
        }

        @include tablet-up {
            padding: 0;
            flex-direction: row;
        }
    }

    &__column-flex-quarter {
        display: flex;
        max-width: 285px;
        width: 100%;
        margin: 0 auto;
        
        @include phone-up {
            padding: 0 15px;
        }

        @include tablet-up {
            padding: 0;
        }
    }

    &__see-below {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    &--direction-column {
        flex-direction: column;
    }

    &--direction-row {
        flex-direction: row;
    }

    &--blue {
        background-color: #5596F4;

        &:hover {
            background-color: lighten(#5596F4,10%);
            color: $white !important;
        }
    }

    &--link {
        text-decoration: underline;
    }

    &__column {
        flex: 1;
    }

    .random-product {
        background-color: rgba(0,0,0,0.2);
        padding: 15px;
        margin: 30px 15px;

        img {
            max-width: 100%;
            width: 100%;
        }

        &__title {
            margin: 0 0 30px 0;
            display: inline-block;
        }

        &--half {
            width: 50%;
            margin: 0 auto 30px auto;
        }
    }

    &__header {
        background: url($media + "/i/page/producthunt/header.jpg") no-repeat bottom; 
        -webkit-background-size: cover;
         -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    &__intro {
        text-align: center;

        .logo {
            margin-top: 30px;
        }

        h1 {
            margin-top: 15px;
            margin-bottom: 0px;
            font-size: 2.5em;
        }

        h4 {
            margin-top: 0px;
            margin-bottom: 15px;
            font-size: 1.5em;
        }
    }

    &__who {
        background-color: #DDE6EB;
        width: 100%;
        text-align: center;
        padding: 0 0 30px 0;

        h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 2em;
        }

        h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.5em;
        }

        h5 {
            font-size: 1em;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }

    &__invented {
        background-color: darken(#DDE6EB,10%);
        width: 100%;
        text-align: center;
        padding: 30px 0;

        h1 {
            margin-bottom: 0px;
            font-size: 2em;
        }

        h4 {
            margin-top: 0px;
            font-size: 1.5em;
        }

        h5 {
            font-size: 1em;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }

    &__battle {
         background: #FBF7F6 url($media + "/i/page/producthunt/battle_background.jpg") no-repeat; 
        -webkit-background-size: cover;
         -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        position: relative;

        @include phone-up {
            background-position: center top; 
            height: 340px;
        }

        @include tablet-up {
            background-position: center -100px;
            height: 450px; 
        }

        &-title {
            position: absolute;
            left: 50%;
            z-index: 2;
            top: 60px;

            @include phone-up {
                width: 300px;
                margin-left: -150px;
            }

            @include tablet-up {
                width: 500px;
                margin-left: -250px;
            }
        }

        &-vs {
            position: absolute;
            left: 50%;
            z-index: 2;

            @include phone-up {
                width: 250px;
                margin-left: -125px;
                top: 150px;
            }

            @include tablet-up {
                width: 400px;
                margin-left: -200px;
                top: 200px;
            }
        }

        &-crapwrap {
            position: absolute;
            right: 0;
            z-index: 2;

            @include phone-up {
                width: 150px;
                top: 205px;
            }

            @include tablet-up {
                width: 290px;
                top: 285px;
            }

            @include desktop-up {
                width: auto;
                top: 225px;
            }
        }

        &-goldenboy {
            position: absolute;
            left: 0;
            z-index: 2;

            @include phone-up {
                width: 150px;
                top: 205px;
            }

            @include tablet-up {
                width: 290px;
                top: 285px;
            }

            @include desktop-up {
                width: auto;
                top: 225px;
            }
        }

        &-play {
            position: absolute;
            z-index: 3;
            height: 90px;
            width: 90px;
            margin-left: -45px;
            left: 50%;

            @include phone-up {
                top: 220px;
            }

            @include tablet-up {
                top: 330px;
            }

            @include desktop-up {
                top: 320px;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        h1 {
            margin-bottom: 0px;
            font-size: 2em;
        }

        h4 {
            margin-top: 0px;
            font-size: 1.5em;
        }

        h5 {
            font-size: 1em;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }

    &__battle-bottom {
        background-color: #FBF7F6;
        width: 100%;
        text-align: center;
        padding: 0 0 30px 0;
        margin-top: -30px;

        h1 {
            margin-bottom: 0px;
            font-size: 2em;
        }

        h4 {
            margin-top: 0px;
            font-size: 1.5em;
        }

        h5 {
            font-size: 1em;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }

    &__mystery {
         background: url($media + "/i/page/producthunt/mystery_background.jpg") no-repeat top; 
        -webkit-background-size: cover;
         -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding: 30px 0;

        .box {

            margin: 30px;

            img {
                width: 100%;
                max-width: 100%;
            }
        }

        h1 {
            margin-bottom: 0px;
            font-size: 2em;
        }

        h4 {
            margin-top: 0px;
            font-size: 1.5em;
        }

        h5 {
            font-size: 1em;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }

    &__wtf {
        background: lighten($charcoal,5%);
        color: $white;
        width: 100%;
        text-align: center;
        padding: 30px 0;

        h1 {
            margin-bottom: 0px;
            font-size: 2em;
        }

        h4 {
            margin-top: 0px;
            font-size: 1.5em;
        }
    }

} 