.address-view {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background-color: #F0F9FA;
    border-radius: 2px;

    @include phone-up {
        margin-right: 0;
        margin-bottom: 10px;
    }

    @include tablet-up {
        margin-right: 10px;
        margin-bottom: 0;
    }

    &.cancel {
        background-color: red;
    }

    &__fields {
        flex: 1;
    }

    &__corner {
        flex: 0.5;
    }

    &__actions {
        display: flex;
        margin: 5px 0;
    }

    &__action {
        color: lighten($charcoal,30%);
        cursor: pointer;
        padding: 7px 0px;
        text-decoration: underline;
    }

    &__button {
        margin-top: 10px;
    }

    &__first-line {
        color: lighten($grey,20%);
    }

    &__second-line {
        font-size: 1.2em;
        margin: 5px 0;
    }

    &__third-line {
        font-size: 0.95em;
        margin-bottom: 10px;
    }

    &__remove {
        text-align: right;
    }

    &__remove-icon {
        color: red;
        cursor: pointer;
    }

    &__remove-link {
        color: red;
        cursor: pointer;
        font-size: 0.9em;
        text-decoration: underline;
    }
}

.simple-address-view {
    display: flex;
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
    background-color: #F0F9FA;
    border-radius: 2px;

    &__first-line {
        color: lighten($grey,20%);
    }

    &__second-line {
        font-size: 1.2em;
        margin: 5px 0;
    }

    &__third-line {
        font-size: 0.95em;
        margin-bottom: 10px;
    }

    &__inner {
        padding: 15px;
    } 
}