.app-header {

    &__advert {
      margin-top: 10px;
      margin-left: 20px;
    }

    &__spacer {
        height: 50px;

        &--large {
            height: 100px;
        }
    }

    &__top-bar {
        height: 50px;
        background-color: #343434;
        color: #88CDEC;
        display: flex;
        top: 0;
        left: 0;

        justify-content: space-between;

        position: fixed;
        width: 100%;

        z-index: 20;
    }

    &__top-bar-left {
        display: flex;
    }
    &__top-bar-right {
        display: flex;
    }

    &__desktop-links {
        display: flex;
    }

    &__arrow {
        font-size: .8em;
        margin-left: 6px;
        margin-top: 3px;
    }


    &__desktop-link {
        cursor: pointer;
        padding: 0 15px 2px 15px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        transition: background 0.1s linear;

        &--active, &:hover {
            background-color: #000;
        }
    }

    &__desktop-link-name {
        background-color: #88CDEC;
        color: $charcoal;
        padding: 2px 8px;
        font-size: 0.9em;
        border-radius: 4px;
        margin-left: 11px;
    }

    &__logo {
        margin: 0 15px;
        display: flex;
        align-items: center;
    }
    &__logo img {
        width: 160px;
    }

    &__drop-down-menu {
        width: 500px;
    }

    &__desktop-search {
        display: flex;
    }

    &__desktop-search-input {
        color: #343434;
        border: 0;
        border-radius: 0;
        font-size: 16px;
        padding: 0 32px 0 10px;
        width: 120px;
        -webkit-appearance: none;
        outline: none;
    }
    &__search-bar {
    }
    &__search-bar-status {
        padding: 10px;
        text-align: center;
    }

    &__mobile-search {
        background-color: #efefef;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 5;
        height: 50px;
        border: 0;
    }
    &__mobile-search-input {
        -webkit-appearance: none;
        border: 0;
        border-radius: 0;
        color: #888;
        font-size: 16px;
        height: 100%;
        padding: 0 10px;
        width: 100%;
    }

    &__basket {
        display: block;
        width: 50px;
        padding: 13px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        transition: background 0.1s linear;

        &:hover {
            background-color: darken($secure,10%);
        }

        &--active {
            background-color: #53a270;
        }
    }
    &__basket-count {
        position: absolute;
        background-color: $secure;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: block;
        line-height: 1.1;
        font-size: 16px;
        top: 13%;
        left: 45%;
        text-align: center;
        font-weight: bold;
    }
    &__basket-image {
        max-width: 100%;
    }

    &__mobile-menu {
        width: 50px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: background .1s linear;

        &--active {
            background-color: #000;
        }
    }

    &__desktop-user-menu {
        position: fixed;
        top: 50px;
        right: 0;
        width: 256px;
        z-index: 5;
    }
}

.app-header--may4 {

  .app-header__top-bar {
    color: #88CDEC;
  }

}
