.basket-page {

    &__title {
        font-family: NovecentoWide;
        font-weight: bold;
        font-size: 1.5em;
        margin: 5px 0;
    }
    &__subtitle {
        color: $off-grey;
        margin: 5px 0;
    }

    &__actions {
        text-align: right;
    }

    &__action-link {
        color: $off-grey;
        cursor: pointer;
        text-decoration: underline;
        font-size: 0.9em;
        margin-left: 10px;
        user-select: none;

        &:visited {
            color: $off-grey;
            text-decoration: underline;
        }
    }

    &__voucher {
        color: $notice;
        display: flex;
        margin: 15px 0;
        text-align: right;
        justify-content: flex-end;
    }
    &__voucher-remove {
        color: $off-grey;
        cursor: pointer;
        text-decoration: underline;
        font-size: 0.9em;
        user-select: none;
        margin-left: 15px;
    }

    &__voucher-form {
        background-color: #EFEFEF;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        padding: 10px;

        @include tablet-up {
            flex-wrap: nowrap;
        }

        &--error {
            background-color: $error-background;
            box-shadow: inset 0px 0px 1px $error-highlight;
        }
    }

    &__voucher-form-text {
        align-items: center;
        display: flex;
        font-size: 0.9em;
        width: 100%;
        margin-bottom: 5px;

        @include tablet-up {
            flex: 1;
        }
    }

    &__voucher-form-input {
        font-size: 16px;
        outline: none;
    }

    &__voucher-status {
        margin-top: 10px;
        text-align: center;
    }

    &__wrap-battle {
        display: flex;
        padding: 15px;
        margin-top: 30px;
        border-top: 1px solid darken($light-fade,2.5%);
        border-bottom: 1px solid darken($light-fade,2.5%);

        @include phone-up {
            flex-direction: column;
        }

        @include tablet-up {
            flex-direction: row;
        }

        h4 {
            margin-bottom: 0px;
            margin-top: 10px;
        }

        p {
            margin-top: 0px;
        }

        &__inner {
            display: flex;

            .battle_box {
                width: 100%;

                img {
                    width: 100%;
                }

                @include phone-up {
                    max-width: 120px;
                }

                @include tablet-up {
                    max-width: 150px;
                }
            }

            .battle_text {
                margin-left: 15px;
            }
        }
 
        &__column {
            flex: 1;
            margin-right: 15px;

            img {
                width: 100%;
            }

            @include phone-up {
                width: 50%;
            }

            @include tablet-up {
                width: 100%;
            }

        }

        &__column-battle {
            flex: 1;

            img {
                margin: 10px 0;

                @include phone-up {
                    display: none;
                }

                @include tablet-up {
                    display: inline-block;
                    width: 100%;
                    max-width: 150px;
                }

                &:hover {
                    cursor: pointer;
                    opacity: 0.75;
                }
            }
        }

        &__column-large {
            flex: 4;
        }

        &__video {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            border: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        &-watch {
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }

        }

    }

}