
.basket-item {
    background-color: #F8F8F8;
    border: 1px solid #E1E1E1;
    display: flex;
    font-family: 'sofia_pro_regular';
    position: relative;
    padding: 10px;
    margin-bottom: 15px;

    &__image-container {
        width: 100px;

        @include tablet-up {
            order: -1;
            margin-right: 15px;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__info {
        flex: 1;
    }

    &__info-top {
        display: flex;
        flex-direction: column;

        @include tablet-up {
            flex-direction: row;
        }
    }

    &__titles {
        flex: 3;
    }

    &__title {
        font-family: NovecentoWide;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        text-transform: lowercase;
    }

    &__subtitle { 
        color: lighten($charcoal, 30%);
        margin: 0;
    }

    &__price-and-status {
        display: flex;
        justify-content: left;

        @include tablet-up {
            flex-direction: column;
        }
    }

    &__price {
        /* flex: 1; */
        font-family: NovecentoWide;
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 10px;
        

        @include tablet-up {
            margin-right: 0px;
            text-align: right;
        }
    }

    &__status {
        /*flex: 1;*/
        

        @include tablet-up {
            text-align: right;
        }

        &--in-stock {
            color: #52A478;
        }
        &--pre-order {
            color: #E4A706;
        }
        &--from-partner {
            color: #3446CC;
        }
    }

    

    &__production-time {
        font-size: 0.9em;
        color: lighten($charcoal,30%);

        @include tablet-up {
            text-align: right;
        }
    }

    &__info-bottom {
        display: flex;
        flex-direction: column;
        @include tablet-up {
            flex-direction: row;
        }
    }

    

    &__remove {
        flex: 1;

        @include tablet-up {
            text-align: right;
        }
    }

    &__remove-span {
        color: lighten($charcoal,30%);
        font-size: 0.9em;
        text-decoration: underline;
        cursor: pointer;
    }
}








