.top-ten{

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-align: center;
        margin-bottom: 15px;
        height: 150px;
        background: #23AE8F center no-repeat;

        h1 {
            margin-right: 0.67em;
            margin-left: 0.67em;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin: 0 auto;
    }

    &-aside {
        flex: 1.25;
        margin: 0 15px;

        @include phone-up {
            max-width: 100%;
        }

        @include tablet-up {
            max-width: 200px;
        }

        @include desktop-up {
            max-width: 300px;
        }
    }

    &-copy {
        background: white;
        padding: 15px;
    }

    &-share {
        display: flex;
        text-align: center;
        margin: 15px 0;
        color: white;
    }

    &-items {
        flex: 2.75;
        margin: 0 15px;
    }

    &-item {
        display: flex;
        position: relative;
        flex-direction: column;
        box-sizing: border-box;
        background: white;
        margin-bottom: 15px;

        &-number {
            position: absolute;
            color: $white;
            text-align: center;
            vertical-align: middle;

             @include phone-up {
                font-size: 2em;
                width: 50px;
                height: 50px;
                left: 10px;
                bottom: 10px;
             }

             @include tablet-up {
                font-size: 1.5em;
                width: 40px;
                height: 35px;
                right: 10px;
                top: 10px;
                left: none !important;
                bottom: none !important;
             }
        }

        &-image {

            position: relative;

            @include tablet-up {
                min-width: 233px;
                margin: 10px 15px 10px 10px;
            }
             
            @include tablet-up {
                margin: 10px 15px 10px 10px;
            }

            img {
                display: block;
                margin: auto auto;
                
		@include phone-up {
                    min-width: 233px;
                    max-width: 100%;
                }
                
                @include desktop-up {
                    max-width: 233px;
                }
                @include tablet-up {
                    max-width: 233px;
                }
                
            }
        }

        &-info {
            display:block;
            // width: 100%;
            margin: 0 15px;
        }

        &-subsection{
            flex: 1;
            width: 100%;
        }

        &-button {
            margin-bottom: 15px;
        }

    }

}

.social-icon {
    flex: 1;
    font-size: 25px;

    & a {
        display: block;
        padding: 10px 5px;
    }

    &--twitter {
        background: #55acee;
    }

    &--facebook {
        background: #3446cc;
    }

    &--pinterest {
        background: #bd081c;
    }

    &--email {
        background: #dddddd;
    }

}

@media only screen and (min-width : 768px) {
    .top-ten-body {
        flex-direction: row;
    }
    .top-ten-item {
        flex-direction: row;
    }
    .top-ten-item-info {
        margin: 0 15px 0 0;
    }
}