
.mobile-menu {
    color: #343434;
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 6;
    font-size: 14px;
    overflow: hidden;
    height: 90%;

    &--hidden {
        display: none;
    }

    &__primary {
        background-color: $light-fade;
        position: relative;
    }

    &__secondary {
        position: absolute;
        background-color: $medium-fade;
        top: 0;
        left: 100%;
        width: 100%;
        transition: left 0.5s;
        min-height: 100%;

        &--active {
            left: 20%;
        }
    }

    &__tertiary {
        position: absolute;
        background-color: $dark-fade;
        top: 0;
        left: 100%;
        width: 100%;
        transition: left 0.5s;
        min-height: 100%;

        &--active {
            left: 20%;
        }
    }

    &__item {
        cursor: pointer;
        display: block;
        padding: 12px 20px;
        text-decoration: none;


        &--active-primary {
            background-color: $medium-fade;
        }
        &--active-secondary {
            background-color: $dark-fade;
        }

    }
    &__icon {
        font-size: .7em;
        margin-left: 2px;
    }
}
