.page{

    &__container {

        box-sizing: border-box;
        display: block;
        padding: 0px 16px;
        max-width: 980px;
        margin: 0 auto;
        padding: 16px;

        font-size: 0.88em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        overflow: hidden;

        &--white{
            background-color: $white;
        }

    }

    &--terms{

        &__title{
            font-family: NovecentoWide;
            font-weight: bold;
            line-height: 1em;
            text-transform: uppercase;
            color: #343434;
            margin: 0 0 8px;
            display: block;

            &--1{
                letter-spacing: .075em;
                font-size: 2em;
            }

            &--2{
                letter-spacing:.025em;
                font-size:1.7em;
            }

            &--3{
                font-size: 1.3em;
                letter-spacing:.02em;
                color: #585858;
                counter-reset:item;
                margin-top:32px;

                &:before{
                    counter-increment:section;
                    content:counter(section) ". ";
                }
            }
            /*
             * counter on ol
            */
            &--3{counter-reset:item;margin-top:32px;}
            &--3:before{counter-increment:section;content:counter(section) ". ";}

            &--4{
                font-size: 1.15em;
                letter-spacing:.02em;
                color: #585858;
            }

            &--5{
                letter-spacing: .02em;
                font-size: 1em;
            }

        }

        a{
            text-decoration: underline;
        }

        &__list li{
            display: list-item;
            margin-bottom: 5px;
        }

        &__nlist {
            counter-reset:item;
            padding-left:0;
            margin:none;

            & li {
                display: block;
                margin:16px;
                margin-left:32px;

                &:before {
                    content: counter(section)"."counters(item,".")". " ;
                    counter-increment: item;
                    font-weight: bold ;
                    color:#999999;
                }
            }
        }


    }

}
